ext_modules/*.c
ext_modules/*.html
ext_modules/*.so
__pycache__
build/
dist/
.eggs/
pegasusio.egg-info/
pegasusio/cylib/*.so
.ipynb_checkpoints
pegasusio/version.py

# docs
docs/_build
docs/api/*.rst
!docs/api/index.rst
