# This workflow will install Python dependencies, run tests and lint with a variety of Python versions

name: PegasusIO CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.7', '3.8', '3.9']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest setuptools wheel
        python -m pip install -e .
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7 --show-source --statistics
    - name: Fetch test data
      run: |
        sudo apt -q update
        sudo apt install -y git
        git clone https://github.com/lilab-bcb/pegasusio-test-data.git ./pegasusio-test-data
    - name: IO test
      run: |
        pytest tests/test_io.py
    - name: Data aggregation test
      run: |
        bash tests/run_aggregate_matrix.sh
        pytest tests/test_aggr.py
